@use '../../../styles/variables';

mat-card {
    padding: 0;
    overflow: hidden;
    mat-card-header {
        ::ng-deep .mat-card-header-text {
            margin: 0;
        }
        mat-card-title {
            padding: 6px;
            margin: 0;
        }
        &.background-primary,
        &.background-accent,
        &.background-warn {
            mat-card-title {
                color: #ffffff;
            }
        }
        &.align-center {
            justify-content: center;
        }
        &.align-right {
            justify-content: end;
        }
    }
    ::ng-deep mat-card-content {
        padding: 10px;
        font-family: Roboto, "Helvetica Neue", sans-serif;

        > :first-child {
            margin-top: 0;
        }

        p {
            font-size: 14px;
        }
    }
}
