@import '../../../styles.scss';

@mixin external-button($color) {
    margin-top: 10px;
    padding: 5px 8px 5px 8px;
    background-color: $color;
    color: #FFFFFF;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.25s;

    &:hover {
        background-color: darken($color: $color, $amount: 10)
    }
}

:host {
    display: flex;

    @media screen and (max-width: $responsive-max-width) {
        flex-direction: column;
    }
}

.left-area {
    @media screen and (min-width: $responsive-min-width) {
        margin-right: 20px;
    }

    .title {
        margin: 0;
        padding: 10px 10px 10px 20px;
        color: #FFFFFF;
        display: block;

        @media screen and (min-width: $responsive-min-width) {
            background: linear-gradient(to right, $color-primary, $color-primary 85%, adjust-color($color: $color-primary, $alpha: -1) 100%);
        }

        @media screen and (max-width: $responsive-max-width) {
            background-color: $color-primary;
        }
    }
}

.right-area {
    padding: 6px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $responsive-max-width) {
        margin-top: 20px;
    }

    .about-author {
        min-width: 275px;

        @media screen and (max-width: $responsive-max-width) {
            width: 100%;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .author-avatar {
                max-width: 150px;
                border: 1px solid #FFFFFF;
                box-shadow: 0 0 5px $color-primary;
                border-radius: 50%;
            }

            .author-name {
                margin: -18px 0 0 0;
                border: 1px solid #FFFFFF;
                border-radius: 20px;
                background-color: adjust-color($color: $color-primary, $alpha: -0.1);
                padding: 5px 15px;
                color: #FFFFFF;
            }

            .author-intro {
                text-align: center;
            }
        }
    }

    .twitter-button {
        @include external-button(#0f1419);

        i {
            position: relative;
            top: 2px;
            display: inline-block;
            width: 14px;
            height: 14px;
            background: transparent 0 0 no-repeat;
            margin-right: 5px;
            background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGcgZmlsbD0id2hpdGUiPjxwYXRoIGQ9Ik0yMS43NDIgMjEuNzVsLTcuNTYzLTExLjE3OSA3LjA1Ni04LjMyMWgtMi40NTZsLTUuNjkxIDYuNzE0LTQuNTQtNi43MTRIMi4zNTlsNy4yOSAxMC43NzZMMi4yNSAyMS43NWgyLjQ1Nmw2LjAzNS03LjExOCA0LjgxOCA3LjExOGg2LjE5MS0uMDA4ek03LjczOSAzLjgxOEwxOC44MSAyMC4xODJoLTIuNDQ3TDUuMjkgMy44MThoMi40NDd6Ij48L3BhdGg+PC9nPjwvc3ZnPg==);
        }
    }

    .fc2-button,
    .pixiv-button {
        @include external-button($color-accent);
    }

    .enty-button {
        @include external-button(#5962FF);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        border: 1px solid #5962FF;
        overflow: hidden;
        color: #FFFFFF;

        img {
            @media screen and (min-width: $responsive-min-width) {
                max-width: 290px;
            }

            @media screen and (max-width: $responsive-max-width) {
                width: 100%;
            }
        }
    }
}
