@use '../../../styles.scss';

mat-list-item {
    cursor: pointer;

    &.active ::ng-deep .mat-list-item-content {
        border-left: 5px solid styles.$color-primary;
        color: styles.$color-primary;
    }

    &:hover ::ng-deep .mat-list-item-content {
        color: styles.$color-primary;
    }
}