@use '../../../styles/variables';

mat-list-item {
    cursor: pointer;

    &.active ::ng-deep .mat-list-item-content {
        border-left: 5px solid variables.$color-primary;
        color: variables.$color-primary;
    }

    &:hover ::ng-deep .mat-list-item-content {
        color: variables.$color-primary;
    }
}
