@use '../../../styles/variables';

mat-list-item {
    ::ng-deep .mat-mdc-list-item-unscoped-content {
        white-space: normal;
    }

    &.active {
        border-left: 5px solid variables.$color-primary;
    }

    &.active,
    &:hover {
        ::ng-deep .mat-mdc-list-item-unscoped-content {
            color: variables.$color-primary;
        }
    }
}
