// $color-primary: mat.m2-get-color-from-palette($schoolboys-primary);
// $color-accent: mat.m2-get-color-from-palette($schoolboys-accent);
// $color-warn: mat.m2-get-color-from-palette($schoolboys-warn);
$color-primary: #2196f3;
$color-accent: #4caf50;
$color-warn: #f44336;

/* Responsive */

$responsive-min-width: 601px;
$responsive-max-width: 600px;
