<div class="container">
    <div class="left-area flex-placeholder">
        <scb-panel title="免责声明" color="warn" titleAlign="center">
            <p>
                本站并非原作者之官方站点，亦不具备作品解释权，不负责一切纠纷和争夺、不拥有任何原作品版权、不为其承担任何责任。站点主体与作者均位于日本，受日本法律影响。所有事务须按原作者之声明进行（如下）：
            </p>
            <p>
                This site is not the original site of author(s), neither has right of interpretation nor handle any complication of
                products. The site does not own any copyright of these products. Site itself and author both locating in Japan and follow
                the law of located country. All affairs should follow the notice of author (in below):
            </p>
            <p>
                ・霧也自身がブログやTwitterおよびpixivで公開している無料の作品（ゲームの画面画像含む）につきましては、転載やアイコンなどへの使用が可能です。ただし、あくまで霧也の作品として扱い、自作発言などはなさらないでください。（#スクボや#見習い魔術師などのハッシュタグで出典を示すと良い。）<br />
                ・同人誌やEntyで公開している有料の作品につきましては、転載やアイコンなどへの使用をしないでください。<br />
                ・霧也の作品に関する二次創作は歓迎します。連絡は不要です。<br />
                ・霧也の作品に関する二次創作のファンアートの扱いにつきましては、上記の限りではありません。各作品の作者の意向に準じてください。（作品の無料・有料にかかわらず、作者本人の許可や特記がない場合、一般的に転載や無断使用は許されません。）<br />
                --<br />
                ・I permit reproduction and appropriation of my works on blog (this site), pixiv and Twitter which are open to the public
                for free. They (including screen-shots of our games) are available for use as your twitter icon, twitter header, etc.<br />
                ・If you reproduce or appropriate my works, keep in mind that they are mine. Do NOT claim them as your own. I recommend
                using them with hash-tags e.g. #スクボ or #見習い魔術師 which imply the works are related to my "SCHOOLBOYS!" or "Mission of
                a Wizard's Apprentice!".<br />
                ・I forbid unauthorised reproduction and appropriation of my doujinshi and paid works available on Enty, DiGiket.com and
                DLsite.com. Do NOT use them as your twitter icon, twitter header, etc. because the works can be enjoyed by only those who
                purchased them.<br />
                ・I welcome your creating fan-fictions based on my works. Feel free to do it. If you don't mind, please label your works
                with the above hash-tags.<br />
                ・Do NOT reproduce or appropriate fan-fictions without their author's permission (not my permission). If you want to use
                them, you have to ascertain the author's intentions.
            </p>
        </scb-panel>
        <scb-panel title="开放源代码计划" color="accent" titleAlign="center">
            <p>许多SCB关联项目已经在GitHub上开放源代码，敬请参阅。</p>
            <div class="source-code">
                <a href="https://github.com/Schoolboys-Series/website" target="_blank"
                    ><button mat-stroked-button color="accent">本站源码</button></a
                >
                <a href="https://github.com/Schoolboys-Series/comic" target="_blank"
                    ><button mat-stroked-button color="accent">四格漫画版本库</button></a
                >
                <a href="https://github.com/Schoolboys-Series/ayumi" target="_blank"
                    ><button mat-stroked-button color="accent">SCHOOLBOYS! 步</button></a
                >
            </div>
        </scb-panel>
    </div>
    <div class="right-area">
        <scb-panel title="广而告之" color="primary" titleAlign="center" class="advertisement">
            <img src="assets/group_qrcode.jpg" />
        </scb-panel>
    </div>
</div>
