<scb-comic-list #comicList class="comic-list" [class.fixed]="anchorListPosition" [class.hide]="hideComicList" [style.height.px]="comicListHeight" (choose)="onComicChoose($event)"></scb-comic-list>
<div class="list-button" (click)="hideComicList = !hideComicList">
    <i></i>
</div>
<div class="content">
    <div *ngIf="images.length == 0">
        <h1>SCHOOLBOYS! 中文版漫画仓库</h1>
        <p><a href="https://github.com/WinUP/schoolboys_comic" target="_blank">这里</a>存储的是SCHOOLBOYS! 的中文版漫画，由某匿名汉化人员辛勤制作。</p>
        <p>222话与之前剧情不连续（中间剧情位于游戏《SCHOOLBOYS! 步》内），浏览时请注意。</p>
        <p>汉化仅覆盖大部分无偿公开的内容，商业书籍或相关盈利项目不属于汉化范围，请见谅。</p>
        <p class="color-accent">最近更新：四格第254话（2018年12月30日）</p>
        <p class="color-primary">从目录选择一项开始阅读</p>
    </div>
    <div *ngFor="let item of images; let i = index">
        <img src="{{item}}" />
        <span class="page-number">{{i + 1}} / {{images.length}}</span>
    </div>
    <div *ngIf="images.length > 0" class="placeholder">
        <button mat-stroked-button color="primary" (click)="previous()">上一篇</button>
        <button mat-stroked-button color="primary" (click)="next()">下一篇</button>
    </div>
</div>