<scb-comic-list
    #comicList
    class="comic-list"
    [class.fixed]="anchorListPosition"
    [class.hide]="hideComicList"
    [style.height.px]="comicListHeight"
    (choose)="onComicChoose($event)"></scb-comic-list>
<div class="list-button" (click)="hideComicList = !hideComicList">
    <i></i>
</div>
<div class="content">
    <div *ngIf="images.length === 0">
        <h1>SCHOOLBOYS! 中文版漫画仓库</h1>
        <p>
            这里存储的是SCHOOLBOYS! 的中文版漫画，由多位汉化人员制作，故而翻译风格可能不统一。<br />你也可以访问
            <a class="color-primary" href="https://tieba.baidu.com/f?kw=schoolboys&fr=index" target="_blank">百度贴吧</a>
            获取更多信息。
        </p>
        <p>
            漫画内容托管在外部站点
            <a class="color-primary" href="https://github.com/WinUP/schoolboys_comic" target="_blank">GitHub</a>
            上，中国大陆的用户必须挂载代理才能访问。如果能打开
            <b
                ><a
                    class="color-warn"
                    href="https://raw.githubusercontent.com/Schoolboys-Series/comic/master/zh-cn/content.json"
                    target="_blank"
                    >这个链接</a
                ></b
            >
            ，说明你的代理（翻墙）是可用的。
        </p>
        <p>222话与之前剧情不连续（中间剧情位于游戏《SCHOOLBOYS! 步》内），浏览时请注意。</p>
        <p>汉化仅覆盖大部分无偿公开的内容，商业书籍或相关盈利项目不属于汉化范围，请见谅。</p>
        <p class="color-primary">从左侧的目录选择一项开始阅读</p>
    </div>
    <div *ngFor="let item of images; let i = index">
        <img src="{{ item }}" />
        <span class="page-number">{{ i + 1 }} / {{ images.length }}</span>
    </div>
    <div *ngIf="images.length > 0" class="placeholder">
        <button mat-stroked-button color="primary" (click)="previous()">上一篇</button>
        <button mat-stroked-button color="primary" (click)="next()">下一篇</button>
    </div>
</div>
