<div class="background">
    <div class="container">
        <div class="introduction">
            <img class="gallery" src="assets/ayumi_gallery1.jpg" alt="ayumi_gallery1" />
            <p class="content">
                又是一个夏天<br />艳阳高照 蝉声鸣叫<br />就像是要挥去名为暑假之物遗留的时光般<br />元气满满的少年们奔跑在各自的道路上<br /><br />从今天开始
                御咲学园迎来了第二学期<br />体育祭和音乐祭等各种活动早已提上议程<br />面对许久未见的同班同学<br />面对老师们和朋友们<br />他们究竟会收获怎样的经历
                行走于怎样的道路上呢<br /><br />时光流逝 景色依旧<br />即便如此 他们也会拥有不一样的一切<br /><br /><br />“让我们拭目以待”
            </p>
            <div class="step"></div>
            <p class="gallery hint">少年们的旅程还将继续！</p>
            <img class="gallery" src="assets/ayumi_gallery2.jpg" alt="ayumi_gallery2" />
        </div>
        <div class="manual">
            <p class="content">游戏分为三个章节<br />每个章节都有自己的故事、委托和事件<br />包含超过200枚CG，长达十小时的游戏时间</p>
            <p class="label label-blue">步模式</p>
            <p class="description description-blue">扮演不同角色在学校里四处移动、和朋友们对话</p>
            <img src="assets/ayumi_gallery3.jpg" class="gallery gallery-blue gallery-retina" alt="ayumi_gallery3" />
            <p class="label label-red">故事模式</p>
            <p class="description description-red">
                只要条件满足，故事就会发生。可以看到角色间有趣的、感动的、……比较那啥的等各种独一无二的故事
            </p>
            <img src="assets/ayumi_gallery4.jpg" class="gallery gallery-red gallery-retina" alt="ayumi_gallery4" />
            <p class="content-blue">超过四十名角色<br />共同演绎丰富多彩的学园生活</p>
            <div class="character-list">
                <img *ngFor="let i of characters" src="assets/ayumi_character/{{ i }}" alt="ayumi_character_{{ i }}" />
                <p>除此之外，前辈们、后辈们、朋友们，大家都会在游戏中登场</p>
            </div>
        </div>
    </div>
    <div class="downloader">
        <a href="https://play.google.com/store/apps/details?id=org.ekifvk.scb.ayumi" target="_blank" class="dead-link"
            ><img src="assets/ayumi_google.png" alt="ayumi_google"
        /></a>
        <a href="https://apps.apple.com/cn/app/id1488124055" target="_blank"
            ><img src="assets/ayumi_appstore.png" alt="ayumi_appstore"
        /></a>
        <a href="https://pan.baidu.com/s/1FNecXEnK5Y5ST7SnfQ0gbQ?pwd=cbl2" target="_blank"
            ><img src="assets/ayumi_baidu.png" alt="ayumi_baidu"
        /></a>
        <a href="https://1drv.ms/u/s!ArIvGgVxtjxP9cxpjPpPe3um4E_m7g?e=MFOToA" target="_blank"
            ><img src="assets/ayumi_onedrive.png" alt="ayumi_onedrive"
        /></a>
    </div>
</div>
