@use 'sass:color';
@use '../../../styles/variables';

.content {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    justify-content: center;

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100%;
        max-width: 500px;
        display: block;

        @media screen and (max-width: variables.$responsive-max-width) {
            width: 80%;
            &.banner {
                display: none;
            }
        }
    }

    .hint {
        display: inline-block;
        color: color.adjust($color: #ffffff, $lightness: -30%);
        font-size: 14px;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }

    .description {
        @media screen and (min-width: variables.$responsive-min-width) {
            margin: 0 0 0 20px;
        }

        .system-require {
            @media screen and (min-width: variables.$responsive-max-width) {
                width: fit-content;
            }

            scb-panel {
                display: block;
                margin-bottom: 10px;
                margin-top: 10px;
            }

            .download {
                display: block;
                color: #ffffff;
                width: 100%;
                margin: 5px 0 5px 0;
            }
        }
    }
}
