<div class="content">
    <div class="images">
        <img alt="Poster" src="assets/misakisai_poster.jpg" />
        <img alt="Banner" src="assets/misakisai_banner.jpg" />
    </div>
    <div class="description">
        <p>
            系列游戏第一作，纪念 2GYMNO SCHOOL BOYS! 两周年作品。<br />上班族诹访部翔平吃下了神秘少年给的药后，发现自己居然…变回了中学时代的样子！<br />攻略少年们的故事，就此展开序幕…
        </p>
        <div class="system-require">
            <scb-panel title="基本信息" color="accent">
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>类型</span>
                        <span matListItemLine>视觉小说/文字冒险游戏</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>游戏时长</span>
                        <span matListItemLine>4~6小时</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>理想分辨率</span>
                        <span matListItemLine>800 x 600</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>发布日期</span>
                        <span matListItemLine>2012年12月27日</span>
                    </mat-list-item>
                </mat-list>
            </scb-panel>
            <scb-panel title="系统需求" color="accent">
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>操作系统</span>
                        <span matListItemLine>Windows 98及以上</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>磁盘空间</span>
                        <span matListItemLine>403 MB</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>显示与声音</span>
                        <span matListItemLine>任意</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>其他</span>
                        <span matListItemLine>通过Freem下载为日文版，其余为中文版</span>
                    </mat-list-item>
                </mat-list>
            </scb-panel>
            <button mat-raised-button color="accent" class="download" (click)="download('freem')">前往Freem!下载</button>
            <button mat-raised-button color="accent" class="download" (click)="download('baidu')">前往百度网盘下载 (解压码：YSG)</button>
        </div>
    </div>
</div>
