// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$schoolboys-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$schoolboys-accent: mat.m2-define-palette(mat.$m2-green-palette);

// The warn palette is optional (defaults to red).
$schoolboys-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$schoolboys-theme-data: (
    color: (
        primary: $schoolboys-primary,
        accent: $schoolboys-accent,
        warn: $schoolboys-warn
    ),
    typography: mat.m2-define-typography-config(),
    density: 0
);
$schoolboys-theme-light: mat.m2-define-light-theme($schoolboys-theme-data);
$schoolboys-theme-dark: mat.m2-define-dark-theme($schoolboys-theme-data);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
html {
    @include mat.all-component-themes($schoolboys-theme-light);
    @media (prefers-color-scheme: dark) {
        @include mat.all-component-colors($schoolboys-theme-dark);
    }
}

/* You can add global styles to this file, and also import other style files */

$color-primary: mat.m2-get-color-from-palette($schoolboys-primary);
$color-accent: mat.m2-get-color-from-palette($schoolboys-accent);
$color-warn: mat.m2-get-color-from-palette($schoolboys-warn);

:root {
    color-scheme: light dark !important;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    background: var(--mat-app-background-color);
    font-family: 'Microsoft YaHei UI', sans-serif;
}
.flex-placeholder {
    flex: 1 1 auto;
}
.clear {
    clear: both;
    display: block;
    content: '';
}
.background-primary {
    background-color: $color-primary;
}
.background-accent {
    background-color: $color-accent;
}
.background-warn {
    background-color: $color-warn;
}
.color-primary {
    color: $color-primary;
}
.color-accent {
    color: $color-accent;
}
.color-warn {
    color: $color-warn;
}


.dark-only {
    display: none;
}
@media (prefers-color-scheme: dark) {
    .light-only {
        display: none;
    }
    .dark-only {
        display: initial;
    }
}
