<div class="content">
    <div class="flex-placeholder">
        <p>舞台终于移动到幻想世界！与SCHOOLBOYS中的众多角色一起经历波澜壮阔的奇幻冒险！</p>
        <img alt="News1" src="assets/news_1.jpg" />
        <img alt="News2" src="assets/news_2.jpg" />
        <img alt="News3" src="assets/news_3.jpg" />
        <img alt="News4" src="assets/news_4.jpg" />
    </div>
    <div class="system-require">
        <scb-panel title="基本信息" color="accent">
            <mat-list>
                <mat-list-item>
                    <h4 mat-line>类型</h4>
                    <p mat-line>传统日式RPG</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>难度</h4>
                    <p mat-line>可选/适中</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>游戏时长</h4>
                    <p mat-line>10小时</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>输入支持</h4>
                    <p mat-line>全键盘操作</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>理想分辨率</h4>
                    <p mat-line>544 x 416</p>
                </mat-list-item>
            </mat-list>
        </scb-panel>
        <scb-panel title="系统需求" color="accent">
            <mat-list>
                <mat-list-item>
                    <h4 mat-line>操作系统</h4>
                    <p mat-line>Windows XP及以上</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>磁盘空间</h4>
                    <p mat-line>850 MB</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>显示与声音</h4>
                    <p mat-line>任意</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>其他</h4>
                    <p mat-line>通过Freem下载为日文版，其余为中文版</p>
                </mat-list-item>
            </mat-list>
        </scb-panel>
        <button mat-raised-button color="accent" class="download" (click)="download('freem')">前往Freem!下载</button>
        <button mat-raised-button color="accent" class="download" (click)="download('baidu')">前往百度网盘下载 (提取码c788)</button>
        <button mat-raised-button color="accent" class="download" (click)="download('mega')">前往MEGA下载</button>
    </div>
</div>
