<div class="content">
    <div class="flex-placeholder">
        <span>舞台终于移动到幻想世界！与SCHOOLBOYS中的众多角色一起经历波澜壮阔的奇幻冒险！</span>
        <img alt="News1" src="assets/news_1.jpg" />
        <img alt="News2" src="assets/news_2.jpg" />
        <img alt="News3" src="assets/news_3.jpg" />
        <img alt="News4" src="assets/news_4.jpg" />
    </div>
    <div class="system-require">
        <scb-panel title="基本信息" color="accent">
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>类型</span>
                    <span matListItemLine>传统日式RPG</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>难度</span>
                    <span matListItemLine>可选/适中</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>游戏时长</span>
                    <span matListItemLine>10小时</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>输入支持</span>
                    <span matListItemLine>全键盘操作</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>理想分辨率</span>
                    <span matListItemLine>544 x 416</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>发布日期</span>
                    <span matListItemLine>2019年4月26日</span>
                </mat-list-item>
            </mat-list>
        </scb-panel>
        <scb-panel title="系统需求" color="accent">
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>操作系统</span>
                    <span matListItemLine>Windows XP及以上</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>磁盘空间</span>
                    <span matListItemLine>850 MB</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>显示与声音</span>
                    <span matListItemLine>任意</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>其他</span>
                    <span matListItemLine>通过Freem下载为日文版，其余为中文版</span>
                </mat-list-item>
            </mat-list>
        </scb-panel>
        <button mat-raised-button color="accent" class="download" (click)="download('freem')">前往Freem!下载</button>
        <button mat-raised-button color="accent" class="download" (click)="download('baidu')">前往百度网盘下载 (解压码：YSG)</button>
    </div>
</div>
