@use 'sass:color';
@use '../../../styles/variables';

.content {
    display: flex;
    padding: 10px;
    margin-top: 10px;

    .flex-placeholder {
        text-align: center;
    }

    img {
        max-width: 100%;
        margin: auto;
        align-self: center;
        display: block;
    }

    .hint {
        display: inline-block;
        color: color.adjust($color: #ffffff, $lightness: -30%);
        font-size: 14px;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }

    .system-require {
        @media screen and (min-width: variables.$responsive-min-width) {
            margin: 0 0 0 10px;
        }

        scb-panel {
            display: block;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .download {
            display: block;
            color: #ffffff;
            width: 100%;
            margin: 5px 0 5px 0;
        }
    }
}
